.main-page-container {
    background-image: url("/src/assets/background.png");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-page-buttons {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 9.375rem;
    padding-top: 15vh;
    text-align: center;
    justify-items: center;
}

.main-page-buttons > * {
    background: rgba(107, 166, 218, 0.85);
    border: 0.09375rem solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2.8125rem;
    color: #FFFFFF;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 1.375rem;
}

.main-page-buttons > *:nth-child(1) {
    grid-row: 1 / 2;
    grid-column: 1 / 3; 
}

.main-page-buttons > *:nth-child(2) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.main-page-buttons > *:nth-child(3) {
    grid-row: 2 / 3;
    grid-column: 2 / 3; 
}

.main-page-buttons > *:hover {
    background: #FFFFFF;
    color: rgba(107, 166, 218, 0.85);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.search-button {
    padding: 0.6875rem 1.25rem;
}

.login-button {
    margin: 0.4375rem 0rem;
    margin-left: 1.25rem;
    padding: 0rem 1.875rem;
    padding-top: 0.25rem;
    font-size: 1.25rem;
}

.signup-button {
    margin: 0.4375rem 0rem;
    margin-right: 1.25rem;
    padding: 0rem 1.5625rem;
    padding-top: 0.25rem;
    font-size: 1.25rem;
}

.logo-img {
    width: 6.8rem;
    margin: 0.9375rem 0.9375rem;
    transform: rotate(-5deg);
}