h2 {
    font-size: 1.625rem;
}

.logo-img {
    width: 6rem;
    transform: rotate(-2deg);
  }

.header-container {
    width: 100%;
    min-height: 14vh;
    padding: 0rem 1.2rem !important;
    background-color: rgba(107, 166, 218, 0.85) !important;
}

.dropdown-menu-items {
    border-left: 0.2rem solid rgba(107, 166, 218, 0.85) !important;
}

.search-input {
    width: 100%;
    text-align: center !important;
}

.user-icon {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.lang-curr {
    font-weight: 500;
}

.lang-curr > *:nth-child(1) {
    margin-right: 0.5rem;
}

.content-bg {
    min-height: 86vh !important;
    background-image: url("/src/assets/background\ blur.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.main-contant {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 62.5rem;
}

.user-info {
    display: flex;
    align-items: center;
    min-height: 12.5rem;
    background: rgba(107, 166, 218, 0.3);
    border-top: 0.2rem solid rgba(107, 166, 218, 0.9);
    border-radius: 0rem 0.1875rem 0.1875rem 0.1875rem;
}

.user-info > * {
    margin-top: 1.875rem;
}

.user-icon {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.button-user {
    width: 11.25rem;
    height: 3.125rem !important;
    font-weight: 500 !important;
    color: white !important;
    background-color: rgba(107, 166, 218, 0.9) !important;
    border: none !important;
}

.user-data {
    text-align: center;
}

.user-data h2, .review-block h2 {
    font-size: 1.375rem;
    font-weight: 700;
}

.user-data p {
    color: black;
    font-size: 0.9375rem;
    font-weight: 500;
}

.phone-number {
    margin-top: 17%;
}

.phone-number, .e-mail {
    display: flex;
    justify-content: center;
}

.user-nums {
    text-align: center;
    font-weight: 500;
}

.user-nums span {
    color: #2699ff;
    font-size: 2.125rem;
    font-weight: 700;
}

.review-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4%;
    padding-left: 4%;
    padding-right: 4%;
    min-height: 12.5rem;
    background: rgba(107, 166, 218, 0.3);
    border-top: 0.2rem solid rgba(107, 166, 218, 0.9);
    border-radius: 0rem 0.1875rem 0.1875rem 0.1875rem;
}

.review-block p {
    font-size: 1rem;
    color: black;
}

.review-block-span {
    font-size: 1.1em;
    font-weight: 500;
    color: #2699ff;
}

.button-review {
    width: 11.25rem;
    height: 3.125rem !important;
    border-width: 0.09375rem 0.09375rem 0rem 0.09375rem !important;
    border-color: rgba(107, 166, 218, 0.85) !important;
    font-weight: 500 !important;
    color: rgba(107, 166, 218, 0.85) !important;
}

@media screen and (max-width: 767px) {
    .header-container {
        min-height: 9.5rem;
    }

    .content-bg {
        min-height: 80vh !important;
    }

    .logo-img {
        position: absolute;
        top: -1.25rem;
      }
    
    .search-input {
        margin-top: 1.25rem !important;
    }
}

@media screen and (max-width: 570px) {
    .lang-curr {
        display: flex;
        flex-direction: column;
        margin-left: 0.5rem;
    }
    
    .lang-curr > *:nth-child(1) {
        margin-bottom: 0.3rem;
    }
}